<%= link_to "New Project", new_project_path %>
<%= form_for(Project.new) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <%= f.submit "Create Project" %>
<% end %>